.home_container h1{
    text-transform: uppercase;
}
.cards{
    gap: 45px;
    padding: 15px 25px;
    display: grid;
   grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:1024px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:720px) {
    .cards{
        grid-template-columns: 1fr;
    }
}